# Default gromit-mpx configuration 
# taken from  Totem's telestrator mode config
# added default entries

# Uncomment to set Hot key and/or Undo key to a custom value. Note that you can only specify single keysyms, not key combos.
HOTKEY = "Control_R";
UNDOKEY = "F9";

"red Line"  = LINE (size=10 color="red");
"red Pen"   = PEN  (size=10 color="red");
#"red Ortho" = ORTHOGONAL (color="red" size=10 simplify=15 radius=20 minlen=50 snap=40);
"red Arrow" = LINE (size=10 color="red" arrowsize=1);
"red Rect"  = RECT (color="red");
"Eraser"    = ERASER (size = 75);
									
"default" = "red Line";
"default"[2] = "red Pen";
"default"[CONTROL] = "red Arrow";
"default"[SHIFT] = "red Rect";
"default"[Button3] = "Eraser";

