dot.tmux/plugins/
dot.config/qutebrowser/autoconfig.yml
dot.config/pulse/
dot.config/qutebrowser/qsettings/QtProject.conf
draft/
dot.config/libreoffice/
dot.config/fcitx/pinyin/
dot.config/com.github.xournalpp.xournalpp/autosave/
dot.config/com.github.xournalpp.xournalpp/metadata/
dot.wine
dot.config/chromium
dot.config/chromium-back-ovfs
dot.config/chromium-backup
dot.config/clash/
dot.config/menus/
dot.local/share/applications/wine/
dot.config/BaiduPCS-Go/pcs_command_history.txt
dot.bin/dingtalk.sh
dot.config/xmonad/xmonad.errors
dot.config/xmonad/xmonad.hi
dot.config/q4wine/
dot.local/share/applications/wine-extension-xsl.desktop
dot.config/xournalpp/autosave/
dot.config/xournalpp/metadata/
