dot.tmux/plugins/
dot.config/qutebrowser/autoconfig.yml
dot.config/pulse/
dot.config/qutebrowser/qsettings/QtProject.conf
draft/
dot.config/libreoffice/
dot.config/fcitx/pinyin/
dot.config/com.github.xournalpp.xournalpp/autosave/
dot.config/com.github.xournalpp.xournalpp/metadata/
dot.wine
dot.config/chromium
dot.config/chromium-back-ovfs
dot.config/chromium-backup
dot.config/clash/
dot.config/menus/
dot.local/share/applications/wine/
dot.config/BaiduPCS-Go/pcs_command_history.txt
dot.bin/dingtalk.sh
dot.config/xmonad/xmonad.errors
dot.config/xmonad/xmonad.hi
dot.config/q4wine/
dot.local/share/applications/wine-extension-xsl.desktop
dot.config/xournalpp/autosave/
dot.config/xournalpp/metadata/
dot.config/fcitx/profile
dot.config/fcitx/profile_1y5ur7
dot.config/fcitx/profile_Co6612
dot.config/fcitx/profile_Odm1yD
dot.config/fcitx/profile_QYXuB0
dot.sawfish/window-history
dot.emacs.d/eshell/
dot.emacs.d/bookmarks
dot.config/qutebrowser/bookmarks/
dot.config/qutebrowser/quickmarks
dot.config/mpv/watch_later/
dot.config/i3
dot.bin/web-apps-old
dot.bin/tv
dot.bin/wp
dot.config/broot
dot.config/dconf
dot.config/fcitx/dbus
dot.config/fcitx/cached_layout
dot.config/xmonad/xmonad
dot.config/xmonad/xmonad-x86_64-linux
dot.config/xournalpp/settings.xml
dot.emacs.d/.lsp-session-v1
dot.config/stumpwm/Solene's percent %.md
dot.config/stumpwm/XSteve's StumpWM page.md
dot.config/fontforge/
PacketTracer7
broot
desktop-directories
fonts
fonts.rsync
icons
mime
nvim
recently-used.xbel
shadowsocksr
tldr
webkitgtk
xorg
zathura
zoxide
dot.local/Baidupan
dot.local/share/qutebrowser
dot.local/share/qutebrowser-back-ovfs
dot.local/share/qutebrowser-backup
dot.local/share/ssr
dot.local/v2ray-clash/
dot.config/xmonad/
dot.config/picom.conf-save
dot.local/state
dot.vim/.netrwhist
dot.local/share/lf
dot.config/psd/.psd.conf
